

@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: right;
}

body{
  justify-content: center;
}




.read-the-docs {
  color: #f5f2f2;
}
